/**
 * Footer
 */

.footer {
  position: absolute;
  bottom: 15px;
  text-align: center;
  height: 40px;
  width: 100%;
  line-height: 120%;
}

/**
 * Navbar
 */
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}

/**
 * Text helpers
 */
.text-small {
  font-size: 0.99rem;
}

/**
 * Size helpers
 */
.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.w-50 {
  width: 50% !important;
}

.w-55 {
  width: 55% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85% !important;
}

/**
 * Dropdown fixs
 */
.dropdown-item.active {
  background-color: #0069d9;
}

main .msgError{
    color: red;
    font-weight: bold;
    display: none;
}
  
main .msgError label{
  margin: auto;
  width: 100%;
}

main .msgSuccess{
    color: green;
    font-weight: bold;
    display: none;
}

main .msgSuccess label{
  margin: auto;
  width: 100%;
}